/* ====================  Large Device Responsive ==================   */
@media (max-width: 1199.98px) {
  :root {
    --primary_background_color: #1c1e53;
    --secondary_bacegroun_color: #f4f6fc;
    --White_color: #ffffff;
    --primary_font_color: #282938;
    --yellow_color: #fcd980;
  }

  /* ================ Footer Css ============= */
  .foooterLeft__summary {
    padding-right: 105px;
  }

  .footerRight__summary {
    padding-right: 96px;
  }
  /* ================ Footer Css ============= */
}
/* ====================  Large Device Responsive ==================   */
