/* ===================== Extra Large Device Responsive ================= */
@media (max-width: 1399.98px) { 
    :root{
        --primary_background_color:#1C1E53;
        --secondary_bacegroun_color:#F4F6FC;
        --White_color:#FFFFFF;
        --primary_font_color:#282938;
        --yellow_color:#FCD980;
    
    }

/* ========= Hero Css ================ */
.heroLeft__title {
    line-height: 59px;
    padding-right: 40px;
    font-size: 41px;
}
.workBtn {
    padding: 16px 41px;
}

/* ========= Hero Css ================ */

/* ========= Feature Css ================ */
.featureTop__title {
    line-height: 58px;
    font-size: 47px;
}
.featureContent__title {
    font-size: 21px;
}
/* ========= Feature Css ================ */

/* ========= About Css ================== */
.aboutLeft__title {
    line-height: 50px;
}
.aboutRight__title {
    font-size: 34px;
    line-height: 46px;
}
/* ========= About Css ================== */

/* ========= FAQ Css ================== */
.faqLeft__title {
    line-height: 50px;
    padding-right: 32px;
}
/* ========= FAQ Css ================== */



/* ========= Inquiry Css ================ */
.inquiryLeft,.customImage{
    height: 100%;
}
.inquiryOverlay__title {
    font-size: 49px;
    line-height: 63px;
}
/* ========= Inquiry Css ================ */

/* ========= Blog Css ================ */
.card__title {
    font-size: 23px;
    font-weight: 500;
    color: var(--primary_font_color);
    line-height: 36px;
}
/* ========= Blog Css ================ */

/* ========= Footer Css ================ */
.footerMiddle {
    padding: 18px 0px 17px 37px;
}
/* ========= Footer  Css ================ */


}
/* ===================== Extra Large Device Responsive ================= */

