@media (max-width: 1199.98px) {
    .pricingContent {
        padding: 64px 31px 62px 31px;
    }
    .--pricing_One {
        padding: 64px 31px 61px 31px;
    }
   
    .pricingContent__top small {
        font-size: 15px;
    }

    .faqLeft__title {
        font-size: 29px;
        line-height: 39px;
    }

    .customHeader {
        font-size: 21px;
    }

    .customContent {
        font-size: 17px;
        padding-right: 50px;
    }

    .foooterLeft__summary {
        padding-right: 106px;
    }

    .footerRight__summary {
        padding-right: 105px;
    }
 }
